h1 {
	color:white;
	font-size:50px;
	text-align:center;
	font-style: normal;
}

body {
	background-color:  black;
	font-style: bold;
	font-family: Helvetica;
}

script{
	font-size:80PX;
	text-align:center;
	color: white;
}

p{
	text-align:center;
	color: white;
	font-size:60PX;
}

a{
	font-size:80px;
	color:#006600;
}

test{
	font-size:80px;
	color:#006600;
}
.clock{
	font-size:40PX;
	text-align:center;
	color: white;
}